body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

/* Header */
.header {
    position: relative;
    width: auto;
    height: 90px;
    background: rgba(0, 109, 155, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 68px;
    height: 44px;
    background-color: #0C5B94;
}

.citician-title {
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: rgba(0, 75, 108, 0.76);
    margin-left: 10px;
}

.nav {
    display: flex;
    gap: 20px;
    height: 35px;
    padding-right: 20px;
}

.nav-item {
    padding: 12px 14px;
    color: white;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    width: 40px;
    text-decoration: none;
}




.nav-item.login a {
    text-decoration: none;
    color: white;
}

/* .home {
    background: rgba(24, 59, 100, 0.78);
} */

.home,.about, .profile, .logout {
    background: #26BEFF;
}

/* Main content */
.main-content {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.view-issues {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    max-width: 1000px;
    width: 100%;
}

/* Table styles */
.view-issues table {
    width: 100%;
    border-collapse: collapse; /* Ensures there's no extra spacing */
    border: 1px solid #ccc;    /* Adds a border around the table */
}

.view-issues th, .view-issues td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ccc;    /* Adds borders between cells */
}

.view-issues th {
    background-color: #f9f9f9;
    font-weight: bold;
}

.view-issues td {
    background-color: #fff;
}

.view-issues a {
    color: #2874A6;
    text-decoration: underline;
}

.view-issues a:hover {
    color: #1B4F72;
}

/* Footer */
footer {
    background: #052F80;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-content p {
    margin: 0;
    font-size: 15px;
}
